<div fxLayoutAlign="center center" fxFlexFill class="main-div">

    <mat-card fxFlex="30" >
        <mat-toolbar color="warn">Login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout = "column"
        class="login" [formGroup]="loginForm" (ngSubmit)="login()" >
           
        <mat-form-field >
          <i class="fas fa-user-alt" style="float:right"></i> <input formControlName = "email"  matInput placeholder="UserName">
              <mat-error *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email') ">
                *UserName is required</mat-error>
            </mat-form-field>
            
          
            <mat-form-field >
              <i class="fas fa-lock" style="float:right"></i>  <input formControlName="password" matInput type="password" placeholder="Password">
                <mat-error *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password') ">
                  *Password is required</mat-error>

              </mat-form-field>
              
             
              <button mat-raised-button color="warn" type="submit" [disabled]="!loginForm.valid" >Login</button>
          </form>
          <a routerLink="/signup" style="color: white; text-align: right;" >New User? Click to SignUp!!</a>

        </mat-card>
</div>