<nav class="navbar navbar-light bg-accent">
<div class="container">
<!-- 
    <h1 style="color:red; text-align: center; font-size: large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" 
     > USER LIST</h1> -->
     
     <div class="form-group-row">
      <div class="col-sm-6">
        <button style="float:left;
        margin:7px; margin-bottom: 0px;">
          <i class="fa fa-search"
              style="font-size: 18px;">
          </i>
      </button><input type="text" style=" width:300px;
      height:25px; float: left;" class="form-control" [(ngModel)]="searchtext" id="search"/> 
    </div>
    </div>
  
    <div class="d-flex">
      <button class="btn"  routerLink="/usercard"><i class="fas fa-border-all" style='font-size:24px' >
      </i> </button>
      <!-- <i class="fa fa-list"></i> -->


      
       <button mat-raised-button color="primary" (click)="clickAdd()" style="margin-right:16px"
        data-bs-toggle="modal" data-bs-target="#exampleModal"  > 
            <i class='fas fa-user-plus' style='font-size:20px'></i>
          </button>
            <button mat-raised-button color="warn" routerLink="/login"  style="margin-right:16px"> 
              LogOut</button>
    </div>

</div>

</nav>



<table class="table">
    <thead>
    <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">DOB</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Address</th>

        
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of userdata | filter:searchtext">
            <td>{{data.firstname}}</td>
            <td>{{data.lastname}}</td>
            <td>{{data.dob}}</td>
            <td>{{data.email}}</td>
            <td>{{data.gender}}</td>
            <td>{{data.address}}</td>

            
            <td>
                <!-- <button mat-raised-button color="primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal" (click)="edit(data)"  style="margin-right:16px"> Edit</button>
                <button mat-raised-button  color="warn" (click)="deleteUser(data)" style="margin-right:16px"> Delete</button>
 -->
                <button mat-raised-button  color="warn" [routerLink]="['/details/'+data.id]" 
                style="margin-right:16px"> Details</button>
                
            </td>
        </tr>
    </tbody>
</table>

   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="cancle"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formvalue"> 
                <div class="mb-3">
                  <label for="firstname" class="form-label">First Name</label>
                  <input type="text" formControlName="firstname" class="form-control" id="firstname" aria-describedby="emailHelp">
                <span style="color: red;"  *ngIf="formvalue.controls['firstname'].dirty && 
                formvalue.hasError('required','firstname')"> *First Name is required</span>
                </div>
                <div class="mb-3">
                  <label for="lastname" class="form-label">Last Name</label>
                  <input type="text" formControlName="lastname" class="form-control" id="lastname">
                  <span style="color: red;"  *ngIf="formvalue.controls['lastname'].dirty && 
                  formvalue.hasError('required','lastname')"> *Last Name is required</span>
                </div>
                <div class="mb-3">
                    <label for="dob" class="form-label">DOB</label>
                    <input type="date" formControlName="dob" class="form-control" id="dob">
                    <span style="color: red;"  *ngIf="formvalue.controls['dob'].dirty && 
                formvalue.hasError('required','dob')"> *DOB is required</span>
                  </div>

                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" formControlName="email" class="form-control" id="email">
                    <span style="color: red;"  *ngIf="formvalue.controls['email'].dirty && 
                formvalue.hasError('required','email')">*Email is required</span>
                  </div>

                  <div class="mb-3">
                    <label for="gender" class="form-label">Gender </label><br>
                  <input type="radio" formControlName="gender" value="male" name="gender" > Male
                  <input type="radio" formControlName="gender" value="female" name="gender" > Female
                  <span style="color: red;"  *ngIf="formvalue.controls['gender'].dirty && 
                formvalue.hasError('required','gender')">*Gender is required</span>
</div>
                  <div class="mb-3">
                    <label for="address" class="form-label">Address></label>
                    <input type="text" formControlName="address" class="form-control" id="address">
                    <span style="color: red;"  *ngIf="formvalue.controls['address'].dirty && 
                formvalue.hasError('required','address')">*Address is required</span>
                  </div>

                  <!-- <div class="mb-3">
                    <label for="Image" class="form-label">Upload Image</label>
                    <input type="file" formControlName="img" (change)="onFileSelect($event)"
                    class="form-control" id="img">
                    <button type="button"   class="btn btn-primary" 
                     (click)= "upload()">Upload</button>
  
                  </div> -->

                  
                  

              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
          <button type="button" *ngIf="showadd" class="btn btn-primary"  (click)= "postUserDetails()">ADD</button>
          <button type="button"  *ngIf="showupdate"  class="btn btn-primary"  (click)= "updateUserdata()">Update</button>
          
        </div>
      </div>
    </div>
  </div>

 