.buttons {
    width: 960px;
    margin: 0 auto;
  }
  
  .action_btn {
    display: inline-block;
    width: calc(50% - 4px);
    margin: 0 auto;
  }
  .main-div{
    padding: 0px;
}

.login{
    padding: 20px;
}