<div fxLayoutAlign="center center" fxFlexFill class="main-div" >

    <mat-card fxFlex="40">
        <mat-toolbar color="warn">Sign Up</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" 
        class="login"  [formGroup]="signupForm" (ngSubmit)="signUp()" (ngReset)="reset()" >
            <mat-form-field >
              <input formControlName="firstname" matInput placeholder="First Name " required>
              <mat-error *ngIf="signupForm.controls['firstname'].dirty && 
              signupForm.hasError('required','firstname') ">
                *First Name is required</mat-error>
            </mat-form-field>

            <mat-form-field >
                <input formControlName ="lastname" matInput placeholder="Last Name " required>
                <mat-error *ngIf="signupForm.controls['lastname'].dirty && signupForm.hasError('required','lastname') ">
                  *Last Name is required</mat-error>
              </mat-form-field> 
              
              <mat-form-field >
                <input formControlName = "dob" matInput type="date" placeholder="DOB " >
                <mat-error *ngIf="signupForm.controls['dob'].dirty && signupForm.hasError('required','dob') ">
                  *DOB is required</mat-error>

              </mat-form-field>


              <mat-form-field >
                <input formControlName = "email" matInput type = " email" placeholder="Email " required>
                <mat-error *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email') ">
                  *Email is required</mat-error>
              </mat-form-field> 
             
           

              <mat-form-field >
                <input formControlName="password" matInput type="password" placeholder=" Password" required>
                <mat-error *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password') ">
                  * Password is required</mat-error>
              </mat-form-field>

              <mat-form-field >
                <input formControlName="confirmpassword" matInput type="password"
                 placeholder="Confirm Password"  appconfirmValidator="password" required>
                <mat-error *ngIf="signupForm.controls['confirmpassword'].dirty && signupForm.hasError('required','confirmpassword') ">
                  *Confirm Password is required</mat-error>
                  <mat-error *ngIf="signupForm.controls['confirmpassword']
                  .dirty && signupForm.hasError('notEqual','confirmpassword') ">
                    *Password and Confirm Password is not matched</mat-error>
              </mat-form-field>
              
              <div class="buttons">
                <div class="action_btn">

              <!-- <button mat-raised-button color="warn" [disabled]="!signupForm.valid" type="submit" style="margin-right:16px"  >Sign Up</button> -->
               <button mat-raised-button color="warn" type="submit" style="margin-right:16px"  >Sign Up</button> 

              <button mat-raised-button color="warn" type="reset"  style="margin-right:16px">Reset</button>
              

              <button routerLink="/login" mat-raised-button color="warn" type="cancle"  style="margin-right:16px">Cancel</button>
              </div>
              </div>
          </form>

          <a routerLink="/login" style="color: white; text-align: right;" >Already have Account? Click to Login!!</a>

        </mat-card>
</div>