<nav class="navbar navbar-light bg-accent">
    <div class="container">
    
        <h1 style="color:red; text-align: center; font-size: large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" 
         > USER Details</h1> 
         </div>
         </nav>
<div class="content">
    <div fxLayoutAlign="center center"  fxFlexFill class="main-div" >
        
        <mat-card fxFlex="40%" class="mat-elevation-z4" >
      <mat-card-title>{{user.firstname}}</mat-card-title>
      <mat-card-subtitle>{{user.firstname}}{{user.lastname}}</mat-card-subtitle>
      <mat-card-subtitle>{{user.dob}}</mat-card-subtitle>
      <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
      <mat-card-subtitle>{{user.gender}}</mat-card-subtitle>
      <mat-card-subtitle>{{user.address}}</mat-card-subtitle>

      <mat-card-actions>
          <button mat-raised-button color="primary" data-bs-toggle="modal"
          data-bs-target="#exampleModal" (click)="edit(user)"  style="margin-right:16px"> Edit</button>
          <button mat-raised-button  color="warn" (click)="deleteUser(user)" style="margin-right:16px"> Delete</button>
          <button mat-raised-button routerLink="/userlist" color="warn"  style="margin-right:16px"> Back</button>

      </mat-card-actions>
    </mat-card>
    </div>
    </div>



     <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="cancle"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formvalue"> 
                <div class="mb-3">
                  <label for="firstname" class="form-label">First Name</label>
                  <input type="text" formControlName="firstname" class="form-control" id="firstname" aria-describedby="emailHelp">
                <span style="color: red;"  *ngIf="formvalue.controls['firstname'].dirty && 
                formvalue.hasError('required','firstname')"> *First Name is required</span>
                </div>
                <div class="mb-3">
                  <label for="lastname" class="form-label">Last Name</label>
                  <input type="text" formControlName="lastname" class="form-control" id="lastname">
                  <span style="color: red;"  *ngIf="formvalue.controls['lastname'].dirty && 
                  formvalue.hasError('required','lastname')"> *Last Name is required</span>
                </div>
                <div class="mb-3">
                    <label for="dob" class="form-label">DOB</label>
                    <input type="date" formControlName="dob" class="form-control" id="dob">
                    <span style="color: red;"  *ngIf="formvalue.controls['dob'].dirty && 
                formvalue.hasError('required','dob')"> *DOB is required</span>
                  </div>

                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" formControlName="email" class="form-control" id="email">
                    <span style="color: red;"  *ngIf="formvalue.controls['email'].dirty && 
                formvalue.hasError('required','email')">*Email is required</span>
                  </div>

                  <div class="mb-3">
                    <label for="gender" class="form-label">Gender </label><br>
                  <input type="radio" formControlName="gender" value="male" name="gender" > Male
                  <input type="radio" formControlName="gender" value="female" name="gender" > Female
                  <span style="color: red;"  *ngIf="formvalue.controls['gender'].dirty && 
                formvalue.hasError('required','gender')">*Gender is required</span>
</div>
                  <div class="mb-3">
                    <label for="address" class="form-label">Address></label>
                    <input type="text" formControlName="address" class="form-control" id="address">
                    <span style="color: red;"  *ngIf="formvalue.controls['address'].dirty && 
                formvalue.hasError('required','address')">*Address is required</span>
                  </div>

                  
                  

              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
          <button type="button" *ngIf="showadd" class="btn btn-primary"  (click)= "postUserDetails()">ADD</button>
          <button type="button"  *ngIf="showupdate"  class="btn btn-primary"  (click)= "updateUserdata()">Update</button>
          
        </div>
      </div>
    </div>
  </div>

 